@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-4));
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-3));
  }

  &::-webkit-scrollbar-thumb:hover {
    background: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
  }

  &::-webkit-scrollbar-thumb:active {
    background: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  }
}

.prompt {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #666e75;
    border-radius: 5px;
  }
}

@media screen and (min-width: 480px) {
  .card:nth-child(7n + 1) {
    grid-column: auto/span 2;
    grid-row: auto/span 2;
  }
}
